<%- include('../partials/header.ejs') %>

<script src="/stylesheets/grillasimple.js"></script>

<div class="container">

    <header class="jumbotron" style="padding: 15px;">
        <div class="container">
            <h2 style="margin-top: 0px;">Periodos</h2>
            <a class="btn btn-primary btn-large" href="/periodos/new">Nuevo Periodo</a>
        </div>
    </header>


    <div class="container">
        <div class="row" style="display:flex; flex-wrap:wrap;">
            <table id="grillasimple" class="display compact" style="width:100%;">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Periodo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <% data.forEach(function(e){ %>

                        <tr>
                            <td style="text-align: center;">
                                <%= e.id %>
                            </td>
                            <td>
                                <%= e.periodo %>
                            </td>
                            <td><a href="/periodos/<%= e.id %>/edit" class="btn btn-sm btn-primary ">Modificar</a></td>
                            <td><a href="/periodos/<%= e.id %>/delete" class="btn btn-sm btn-primary ">Eliminar</a></td>
                        </tr>

                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

</div>

<%- include('../partials/footer.ejs') %>