<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="row text-center"  style="display:flex; flex-wrap:wrap; padding-top: 30px; padding-bottom: 15px">
        <table style="width: 60%">
            <tr style="background-color: gainsboro">
                <th  style="text-align: center">
                    <h4>Empresa RPA (Modifica)</h4>
                </th>
            </tr>    
        </table>        

    </div>
</div>


<div class="titulo">
    <div class="ui main text container ">

        <form class="ui form" action="/rpaEmpresa/<%= data.idEmpresa %>?_method=PUT" method="POST">
            
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" id="nombre" type="text" name="data[nombre]" placeholder="Nombre Empresa"
                    value="<%= data.nombre %>">
            </div>
            
            <div class="form-group">
                <label for="url">URL Buk</label>
                <input class="form-control" id="urlbuk" type="text" name="data[urlbuk]" placeholder="URL BUK"
                    value="<%= data.urlbuk %>">
            </div>
            
            <div class="form-group">
                <label for="usuario">Usuario Buk</label>
                <input class="form-control" id="usernamebuk" type="text" name="data[usernamebuk]" placeholder="Usuario"
                    value="<%= data.usernamebuk %>">
            </div>
            
            <div class="form-group">
                <label for="password">Contrase単a Buk</label>
                <input class="form-control" id="passwordbuk" type="password" name="data[passwordbuk]" placeholder="Contrase単a Buk"
                    value="<%= data.passwordbuk %>">
            </div>
            
            <div class="form-group">
                <label for="meses">Meses a Procesar</label>
                <input class="form-control" id="meses" type="meses" name="data[meses]" placeholder="Meses a Procesar"
                    value="<%= data.meses %>">
            </div>
            
            <div class="form-group">
                <label for="url">URL DT</label>
                <input class="form-control" id="urldt" type="text" name="data[urldt]" placeholder="URL DT"
                    value="<%= data.urldt %>">
            </div>
            
            <div class="form-group">
                <label for="usuario">Usuario DT</label>
                <input class="form-control" id="usernamedt" type="text" name="data[usernamedt]" placeholder="Usuario DT"
                    value="<%= data.usernamedt %>">
            </div>
            
            <div class="form-group">
                <label for="password">Contrase単a DT</label>
                <input class="form-control" id="passworddt" type="password" name="data[passworddt]" placeholder="Contrase単a DT"
                    value="<%= data.passworddt %>">
            </div>
            
            <div class="form-group">
                <label for="emaillog">EMail Supervisor</label>
                <input class="form-control" id="emaillog" type="emaillog" name="data[emaillog]" placeholder="EMail"
                    value="<%= data.emaillog %>">
            </div>


            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Guardar">
        </form>    


    </div>
</div>


<%- include('../partials/footer.ejs') %>
